.EmotionItem {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

.EmotionItem .emotionImage {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItemOn1 {
  background-color: rgb(100, 201, 100);
  color: white;
}

.EmotionItemOn2 {
  background-color: rgb(157, 215, 114);
  color: white;
}

.EmotionItemOn3 {
  background-color: rgb(253, 206, 23);
  color: white;
}

.EmotionItemOn4 {
  background-color: rgb(253, 132, 70);
  color: white;
}

.EmotionItemOn5 {
  background-color: rgb(253, 86, 95);
  color: white;
}
