.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: rgb(193, 193, 193) 0 0 6px 0.3px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_positive {
  background-color: rgb(100, 201, 100);
  color: white;
}

.Button_negative {
  background-color: rgb(253, 86, 95);
  color: white;
}
