/* .DiaryList {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
} */

.DiaryList .menu_bar {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
  width: 100%;
}

.DiaryList .menu_bar select {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.DiaryList .menu_bar button {
  flex: 1;
}
