.DiaryItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.DiaryItem .imageWrapper {
  min-width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 7px;
}

.DiaryItem .imageWrapper1 {
  background-color: rgb(100, 201, 100);
}

.DiaryItem .imageWrapper2 {
  background-color: rgb(157, 215, 114);
}

.DiaryItem .imageWrapper3 {
  background-color: rgb(253, 206, 23);
}

.DiaryItem .imageWrapper4 {
  background-color: rgb(253, 132, 70);
}

.DiaryItem .imageWrapper5 {
  background-color: rgb(253, 86, 95);
}

.DiaryItem .contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.DiaryItem .contentWrapper .date {
  font-size: 24px;
  font-weight: bold;
}

.DiaryItem .contentWrapper .date {
  font-size: 18px;
}

.DiaryItem .buttonWrapper {
  min-width: 70px;
}
