.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;

  box-shadow: 0px 2px 12px -3px rgba(0, 0, 0, 0.14);
  margin: 0 -16px;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start;
  margin-left: 16px;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
  margin-right: 16px;
}
